.back {
    float:left;
}
canvas{
    margin-top:150px;
    border: 2px dashed red;
    border-radius:12px;
    box-shadow:5px 10px 10px gray;
}
body{
    background-size: cover;
    background-position:center;
}
.top {
    margin-bottom:0px;
}
#mhm{
    margin-right:150px;
}